<footer class='footer'>
    <section class="items">
        <div class="itemPie">
           <i class="fas fa-credit-card"></i>
           <p class="titulares-footer">Pagá con tarjeta o en efectivo</p>
           <p class="descripciones">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y
                siempre es
                seguro!</p>
        </div>
        <div class="itemPie">
            <i class="fas fa-gift"></i>
            <p class="titulares-footer">Envío gratis desde $2.500</p>
            <p class="descripciones">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="itemPie">
            <i class="fas fa-user-shield"></i> 
            <p class="titulares-footer">Seguridad, de principio a fin</p>
            <p class="descripciones">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer,
                porque estás siempre protegid@.</p>
        </div>
    </section>    
        <div class="copyright">
            <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
        </div>   
</footer>
