<header class="header">
    <div class="header-top">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>
        <form action="/buscar" method="GET" class="search">
            <div class="control-form">
                <input type="text" name="search" placeholder="Buscar productos, marcas y mas" class="control" minlength="3" maxlength="30">
            </div>
         <button type="submit" class="button-search"><i class="fas fa-search" icon></i></button>
        </form>
        <h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito
        </h2>
    </div>
    <a href="#" class="hamburguer-botton">
        <i class="fas fa-bars"></i>
    </a>
    <nav class="hearder-buttom">
        <ul class="left-navbar">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiedas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="rigth-navbar">
            <li><a href="/user/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="/user/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
           <!-- <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li> -->
        </ul>
    </nav>
</header>