<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>404 </title>



  <link type="text/css" rel="stylesheet" href="/css/page_notFound.css">

</head>

<body>
  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h1>4<span>0</span>4</h1>
      </div>
      <p>Es posible que la p치gina que est치 buscando se haya eliminado si se cambi칩 el nombre o no est치 disponible
        temporalmente.</p>
      <a href="/">Home</a>
    </div>
  </div>

</body>

</html>