<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>
    <link rel='stylesheet' href='/css/productList.css' />
<body>
    <%- include('../partials/header')%>
    <main>

        <div class="container">
            <div class="titular">
                <h2 class="titulo">Clientes</h2>
            </div>
            <section class="detalle">
                <a href="/user/register"><button style="height: 48px; font-size: 32px; border-radius: 8px;">New Product</button></a>
                <div class="productos">
                    <% users.forEach(user => { %>
                        <%- include('./user', { user })%>
                    <% })%>
                </div>
            </section>

        </div>
    </main>
    
    <%- include('../partials/footer')%>

</body>

</html>